.bg-custom {
    background-color: #003399;
}

.btn-custom {
    background-color: #003399;
    color: white;
}

.btn-custom:hover {
    background-color: #002266;
    color: white;
}
.logo-nav {
  max-width: 200px;
  height: auto;
}

@media (max-width: 576px) {
  .logo-nav {
    max-width: 140px;
  }
}
