.bg-custom {
    background-color: #003399;
}

.btn-custom {
    background-color: #003399;
    color: white;
}

.btn-custom:hover {
    background-color: #002266;
    color: white;
}
.logo-nav {
  max-width: 200px;
  width: 100%;
  height: auto;
}

@media (max-width: 576px) {
  .logo-nav {
    max-width: 140px;
  }
}

@media (min-width: 768px) {
  .position-md-absolute {
    position: absolute !important;
  }
  .translate-middle-x-md {
    transform: translateX(-50%) !important;
  }
  .bg-md-transparent {
    background-color: transparent !important;
  }
  .h-md-100 {
    height: 100% !important;
  }
}
